container_commands:
  01_migrate:
    command: "python series_api/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python series_api/manage.py collectstatic --noinput"
  03_runserver:
    command: "python series_api/manage.py runserver"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "series_api.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "series_api/wsgi.py"
    StaticFiles: "/static/=www/static/"